<h1>Assets Listing</h1>
<ul>
  <% @assets.each do |a| %>
    <% id, type, username, available = a %>
    <% available = available == 1 ? true : false %>
    <li>
      <p>
        Asset Type: <%= type %> </br>
        Available: <%= available ? 'Yes' : 'No' %> </br>
        <% unless available %>
          User: <%= username %>
        <% end %>
      </p>
    </li>
  <% end %>
</ul>
