<h1>Add new asset</h1>
<form action="/assets" method="post">
  Type: <input type="text" name="type">
  Serial number: <input type="text" name="serial-number">

  <input type="submit" value="submit">
</form>
