%h1 Signup
- @errors&.each do |msg|
  %p= msg
%form(action="/signup" method="post")
  %fieldset
    %legend Signup
    != csrf_tag
    %label(for="username")
      Username:
      %input#username(type="text" name="username" required)
    %label(for="email")
      Email:
      %input#email(type="email" name="email" required)
    %label(for="employee_id")
      Employee id:
      %input#employee_id(type="text" name="employee_id" required)
    %label(for="password")
      Password:
      %input#password(type="password" name="password" required)
    %label(for="password_confirmation")
      Password confirmation:
      %input#password_confirmation{
        type: "password", name: "password_confirmation"
      }(required)

  %button(type="submit") Submit
%form(action="/login")
  != csrf_tag
  %button(type="submit") Login
