%h1 Edit asset
- @errors&.each do |error|
  %p= error
%form(action="/assets/#{@asset.id}" method="post")
  %fieldset
    %legend Edit Asset
    != csrf_tag
    %input(type="hidden" name="_method" value="put")
    %label(for="type")
      Type:
      %input#type(type="text" name="type" value="#{@asset.type}" required)
    %label(for="serial_number")
      Serial number:
      %input#serial_number{
        type: "text", name: "serial_number", value: @asset.serial_number
      }(required)

  %button(type="submit") Submit
