%h1 Assets Listing
%form{action: "/logout", method: "post"}
  %button{type: "submit"} Logout
%a{href: "/assets/new"} Add new asset
%ul
  - @assets.each do |a|
    %li
      != partial('_asset', asset: a)
      %form{
        action: "/assets/#{a.id}",
        method: "post",
        style: "display: inline;"
      }
        %input{type: "hidden", name: "_method", value: "delete"}
        %button{type: "submit"} Delete
      %form{
        action: "/assets/#{a.id}/edit",
        style: "display: inline;"
      }
        %button{type: "submit"} Edit
