<h1>Add new asset</h1>
<% @errors&.each do |error| %>
  <p><%= error %></p>
<% end %>
<form action="/assets" method="post">
  Type: <input type="text" name="type">
  Serial number: <input type="text" name="serial_number">

  <input type="submit" value="submit">
</form>
